@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    margin-top: 50px;
  }
  .header__social {
    display: block;
    margin: 0 auto;
    border-right: 0;
    border-left: 0;
  }
  .header__right-block {
    float: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .header__working {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 480px;
    border-left: 0;
    border-right: 0;
  }
  .header__top-line {
    height: auto;
    border-bottom: 0;
  }
  .header__language {
    border-right: 0;
    max-width: 90px;
  }
  .header__currency {
    border-right: 0;
    max-width: 60px;
  }
  .header__login {
    border-right: 0;
    max-width: 125px;
  }
  .header__base {
    padding: 25px 0;
    text-align: center;
  }
  .header__logo {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
  .header__call, .header__mail {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }
  .header__visit {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 15px;
  }
  .header__call .icon, .header__mail .icon, .header__visit .icon {
    display: none;
    margin: 0 auto;
  }
  .header__call .content__title, .header__mail .content__title, .header__visit .content__title {
    display: inline-block;
  }
  .header__call .content .phone, .header__mail .content .mail, .header__visit .content .address {
    display: inline-block;
  }

  .header nav {
    padding-top: 18px;
    position: relative;
  }
  .header #menu-toggle {
    display: block;
    margin: 0 auto;

  }
  .header #menu{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #353f45;
    padding: 15px;
  }
  .header__menu{
    display: none;
  }
  .header .submit {
    display: none;
  }

  .slider__top .slide__item .people {
    display: none;
  }
  .slider__top .slide__item .text__block-title {
    font-size: 20px;
  }
  .slider__top .slide__item .text__block-descript {
    font-size: 16px;
  }
  .slider__top .slide__item .text__block {
    max-width: 255px;
    height: 100px;
    margin: 75px auto;
    padding: 15px;
  }
  .slider__top .slide__item .text__block-line {
    height: 73px;
  }
  .slider__top .slide__item .search__filter .filter {
    display: none;
  }
  .slider__top .slide__item {
    height: 355px;
    min-height: 55vh;
  }
  .slider__top .slide__item .search__filter .heading {
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    margin-top: 50px;
  }
  .header__social {
    display: block;
    margin: 0 auto;
    border-right: 0;
    border-left: 0;
  }
  .header__right-block {
    float: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .header__working {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 768px;
    border-left: 0;
    border-right: 0;
  }
  .header__top-line {
    height: auto;
    border-bottom: 0;
  }
  .header__language {
    border-right: 0;
  }
  .header__currency {
    border-right: 0;
  }
  .header__login {
    border-right: 0;
  }
  .header__base {
    padding: 25px 0;
    text-align: center;
  }
  .header__logo {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
  .header__call, .header__mail {
    display: inline-block;
    width: 30%;
    padding-left: 0;
  }
  .header__visit {
    display: inline-block;
    width: 34%;
    padding-left: 0;
  }
  .header__call .icon, .header__mail .icon, .header__visit .icon {
    display: block;
    margin: 0 auto 15px;
  }
  .header nav {
    padding-top: 18px;
    position: relative;
  }
  .header #menu-toggle {
    display: block;
    margin: 0 auto;

  }
  .header #menu{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #353f45;
    padding: 15px;
  }
  .header__menu{
    display: none;
  }
  .header .submit {
    display: none;
  }
  .slider__top .slide__item .people {
    display: none;
  }
  .slider__top .slide__item .text__block-title {
    font-size: 20px;
  }
  .slider__top .slide__item .text__block-descript {
    font-size: 16px;
  }
  .slider__top .slide__item .text__block {
    max-width: 255px;
    height: 100px;
    margin: 75px auto;
    padding: 15px;
  }
  .slider__top .slide__item .text__block-line {
    height: 73px;
  }

  .slider__top .slide__item .search__filter .filter {
    height: auto;
    padding: 15px 20px;
    display: none;
  }
  .slider__top .slide__item {
    height: 355px;
    min-height: 55vh;
  }
  .slider__top .slide__item .search__filter .heading {
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
  }
  .slider__top .slide__item .search__filter .filter__item {
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 0;
  }
  .slider__top .slide__item .search__filter .filter__item:first-child {
    padding: 0;
  }
  .slider__top .slide__item .search__filter .filter__item:last-child {
    padding: 0;
  }
  .slider__top .slide__item .search__filter .filter__type-mini {
    width: 48.5%;
    margin-right: 15px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__social a {
    margin: 0 5px;
  }
  .header__social {
    max-width: 158px;
    border-right: 0;
  }
  .header__social a:before {
    right: -7px;
  }
  .logo img{
    width: 120px;
  }
  .header__logo{
    width: 20%;
    padding-left: 10px;
  }
  .header__call, .header__mail, .header__visit{
    width: 26%;

    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-right: 10px;
    }
    .content__title {
      font-size: 13px;
      line-height: 18px;
    }
    .content .phone {
      font-size: 13px;
      line-height: 18px;
    }
    .content .mail {
      font-size: 13px;
      line-height: 18px;
    }
    .content .address {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .header__mail, .header__visit {
    padding-left: 0;
  }
  .header__base {
    padding: 20px 0 20px;
  }
  .header__menu {
    height: 50px;
    max-width: 580px;
  }
  .header__menu li {
    height: 50px;
  }
  .header__menu li a {
    font-size: 12px;
    padding: 0 19.5px;
    line-height: 44px;
  }
  .header__menu li:before {
    top: 12px;
    right: 0;
  }
  .header nav {
    height: 50px;
    line-height: 50px;
  }
  .header .submit {
    margin-top: -50px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
  .header__menu li .submenu li a {
    font-size: 12px;
    line-height: 25px;
  }
  .header__menu li .submenu {
    min-width: 195px;
    padding: 5px 10px;
  }
  .slider__top .slide__item {
    height: 500px;
  }
  .slider__top .slide__item .people {
    right: 0;
    width: 250px;
  }
  .slider__top .slide__item .text__block {
    max-width: 300px;
    height: 100px;
    margin: 80px 0;
    padding: 15px;
  }
  .slider__top .slide__item .text__block-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .slider__top .slide__item .text__block-descript {
    font-size: 20px;
  }
  .slider__top .slide__item .text__block-line {
    height: 70px;
  }
  .slider__top .slide__item .search__filter .heading {
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
  .slider__top .slide__item .search__filter .filter {
    height: 175px;
    padding: 10px;
  }
  .slider__top .slide__item .search__filter .filter__type-title {
    font-size: 13px;
    margin-bottom: 10px;
    width: 110px;
  }
  .slider__top .slide__item .search__filter .filter__item:first-child {
    padding: 0;
    margin-right: 10px;
  }
  .slider__top .slide__item .search__filter .filter__item {
    padding: 0;
    margin-right: 10px;
    width: 32%;
  }
  .slider__top .slide__item .search__filter .filter__item:last-child {
    padding: 0;
    margin-right: 0;
  }
  .slider__top .slide__item .search__filter .filter__type .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
  }
  .slider__top .slide__item .search__filter .filter__type .select2-container .select2-selection--single {
    height: 30px;
  }
  .slider__top .slide__item .search__filter .filter__type .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    width: 28px;
  }
  .slider__top .slide__item .search__filter .filter__type .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    top: 7px;
    right: 6px;
  }
  .slider__top .slide__item .search__filter .filter__type .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    top: 7px;
    right: 6px;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    font-size: 13px;
    padding: 10px 10px !important;
  }
  .select2-results__option {
    font-size: 13px;
    padding: 10px 10px !important;
  }

  .slider__top .slide__item .search__filter .filter__type .irs-min, .slider__top .slide__item .search__filter .filter__type .irs-max {
    font-size: 12px;
    line-height: 16px;
  }

  .slider__top .slide__item .search__filter .filter__type .min-price {
    width: 55px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    margin-right: 5px;
  }

  .slider__top .slide__item .search__filter .filter__type .max-price {
    width: 55px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini .select2-container .select2-selection--single {
    height: 30px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    width: 30px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    top: 7px;
    right: 6px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    top: 7px;
    right: 6px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini {
    margin-right: 14px;
  }
  .btn__find {
    margin-top: 30px;
    width: 107px;
    height: 30px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1169px) {
  .header__logo {
    width: 23%;
  }
  .logo img{
    width: 125px;
  }
  .header__call {
    width: 25%;
  }
  .header__call, .header__mail, .header__visit {
    .content .address {
      font-size: 14px;
    }
  }
  .header__call .icon, .header__mail .icon, .header__visit .icon {
    margin-right: 25px;
  }
  .header__mail {
    width: 25%;
    padding-left: 0;
  }
  .header__visit {
    width: 25%;
    padding-left: 0;
  }
  .header__menu {
    max-width: 780px;
  }
  .header__menu li a {
    font-size: 12px;
    padding: 0 33px;
  }
  .header .submit {
    width: 160px;
    font-size: 12px;
  }
  .header__menu li .submenu li a {
    font-size: 12px;
  }
  .header__menu li .submenu {
    min-width: 210px;
  }
  .slider__top .slide__item {
    height: 550px;
    min-height: 70vh;
  }
  .slider__top .slide__item .people {
    right: 100px;
    width: 300px;
  }
  .slider__top .slide__item .text__block {
    max-width: 395px;
    height: 130px;
    margin: 65px 0;
    padding: 25px 30px;
  }
  .slider__top .slide__item .text__block-title {
    font-size: 32px;
  }
  .slider__top .slide__item .text__block-descript {
    font-size: 20px;
  }
  .slider__top .slide__item .search__filter .heading {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .slider__top .slide__item .search__filter .filter {
    padding: 15px 20px;
    height: 200px;
  }
  .slider__top .slide__item .search__filter .filter__item:first-child {
    padding: 0;
    margin-right: 12px;
  }
  .slider__top .slide__item .search__filter .filter__item {
    padding: 0;
    margin-right: 12px;
    width: 32%;
  }
  .slider__top .slide__item .search__filter .filter__item:last-child {
    padding: 0;
    margin-right: 0;
  }
  .slider__top .slide__item .search__filter .filter__type-title {
    width: 150px;
  }
  .slider__top .slide__item .search__filter .filter__type-mini {
    margin-right: 15px;
  }
  .btn__find {
    width: 140px;
    font-size: 14px;
  }
  .slider__top .slide__item .search__filter .filter__type .irs-min, .slider__top .slide__item .search__filter .filter__type .irs-max {
    font-size: 12px;
    line-height: 15px;
  }
}

@media only screen and (min-width: 1170px) and (max-width: 1920px) {}