.header{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  &__top-line{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e4e4;
  }

  &__social{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #e7e4e4;
    border-left: 1px solid #e7e4e4;
    text-align: center;

    a{
      display: inline-block;
      vertical-align: middle;
      margin: 0 7.5px;
      text-decoration: none;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 17px;
        right: -10px;
        display: inline-block;
        width: 1px;
        height: 13px;
        background-color: #e7e4e4;
      }

      .icon-soc{
        display: block;
        @include transition(all .5s);
      }

      .icon-soc:hover{
        fill: $color_scheme;
      }
    }
    a:last-child{
      &:before{
        display: none;
      }
    }

  }

  &__right-block{
    float: right;
    display: inline-block;
    width: 100%;
    max-width: 595px;
    height: 50px;
  }

  &__working{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    max-width: 262px;
    height: 50px;
    line-height: 50px;
    border-left: 1px solid #e7e4e4;
    border-right: 1px solid #e7e4e4;

    span{
      color: #808080;
      font-family: $Lato;
      font-size: 13px;
      font-weight: 400;

      .fa{
        margin-right: 10px;
      }
    }
  }

  &__language{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    max-width: 115px;
    height: 50px;
    padding-top: 12px;
    border-right: 1px solid #e7e4e4;
    font-family: $Lato;
    font-size: 13px;
    font-weight: 400;

    .language-select {
      display: inline-flex;
      flex-direction: column;
      color: #808080;
      height: 25px;
      line-height: 25px;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 10.5px;
        right: 0;
        width: 8px;
        height: 5px;
        background: url("../img/arrow-down.png") 0 0 no-repeat;
      }
    }

    .language-select li {
      text-align: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;
      padding: 0 15px 10px 25px;
      min-height: 35px;
      position: relative;

      .flag-en{
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        display: block;
        width: 17px;
        height: 12px;
        background: url("../img/eng.png") 0 0 no-repeat;
      }

      .flag-ua{
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        display: block;
        width: 17px;
        height: 12px;
        background: url("../img/ukraine.png") 0 0 no-repeat;
      }
    }

    .language-select li:hover {
      cursor: pointer;
    }

    .language-select.open {
      height: auto;
      line-height: 25px;

      li {
        padding: 0 15px 10px 25px;
      }

      &:before{
        content: '';
        position: absolute;
        top: 10.5px;
        right: 0;
        width: 8px;
        height: 5px;
        background: url("../img/arrow-down.png") 0 0 no-repeat;
      }

      li .flag-en {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        display: block;
        width: 17px;
        height: 12px;
        background: url(../img/eng.png) 0 0 no-repeat;
      }
      li .flag-ua {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        display: block;
        width: 17px;
        height: 12px;
        background: url(../img/ukraine.png) 0 0 no-repeat;
      }
    }

    .language-select li.active {
      order: 1;
      pointer-events: none;
    }
  }

  &__currency{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    max-width: 69px;
    height: 50px;
    padding-top: 12px;
    border-right: 1px solid #e7e4e4;
    font-family: $Lato;
    font-size: 13px;
    font-weight: 400;

    .currency-select {
      display: inline-flex;
      flex-direction: column;
      color: #808080;
      height: 25px;
      line-height: 25px;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 10px;
        right: 3px;
        width: 8px;
        height: 5px;
        background: url("../img/arrow-down.png") 0 0 no-repeat;
      }
    }

    .currency-select li {
      text-align: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;
      padding: 0 20px 10px 0;
      min-height: 35px;
      position: relative;
    }

    .currency-select li:hover {
      cursor: pointer;
    }

    .currency-select.open {
      height: auto;
      line-height: 25px;

      li {
        padding: 0 20px 10px 0;
      }

      &:before{
        content: '';
        position: absolute;
        top: 10px;
        right: 3px;
        width: 8px;
        height: 5px;
        background: url("../img/arrow-down.png") 0 0 no-repeat;
      }
    }

    .currency-select li.active {
      order: 1;
      pointer-events: none;
    }
  }

  &__login{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    max-width: 135px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #e7e4e4;

    i{
      margin-right: 10px;
      color: #808080;
    }

    a{
      text-decoration: none;
      display: inline-block;
      font-family: $Lato;
      font-size: 13px;
      font-weight: 400;
      color: #808080;
      @include transition(all .5s);

      &:hover{
        color: $color_scheme;
      }
    }
    .register{
      margin-left: 3px;
    }
  }

  &__base{
    padding: 30px 0 36px;
  }

  &__logo{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
  }

  &__call{
    display: inline-block;
    vertical-align: middle;
    width: 24.5%;

    .icon{
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 2px solid $color_scheme;
      position: relative;
      margin-right: 39px;

      .fa-phone:before {
        font-size: 17px;
      }
    }
    .content{
      display: inline-block;
      vertical-align: middle;

      &__title{
        color: #000000;
        font-family: $Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      .phone{
        display: block;
        text-decoration: none;
        color: #808080;
        font-family: $Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }

  &__mail{
    display: inline-block;
    vertical-align: middle;
    width: 24.5%;
    padding-left: 11px;

    .icon{
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 2px solid $color_scheme;
      position: relative;
      margin-right: 39px;

      .fa-envelope:before{
        font-size: 16px;
      }
    }
    .content{
      display: inline-block;
      vertical-align: middle;

      &__title{
        color: #000000;
        font-family: $Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      .mail{
        display: block;
        text-decoration: none;
        color: #808080;
        font-family: $Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }

  &__visit{
    display: inline-block;
    vertical-align: middle;
    width: 24.5%;
    padding-left: 20px;

    .icon{
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 2px solid $color_scheme;
      position: relative;
      margin-right: 39px;

      .fa-map-marker:before{
        font-size: 17px;
      }
    }
    .content{
      display: inline-block;
      vertical-align: middle;

      &__title{
        color: #000000;
        font-family: $Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 2px;
      }
      .address{
        display: block;
        text-decoration: none;
        color: #808080;
        font-family: $Lato;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
  
  nav{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    background-color: #353f45;
    z-index: 999;
  }
  nav.active{
    background-color: $color_scheme;
  }

  //mobile-menu

  #menu {
    display: none;
    list-style: none;
    z-index: 150;

    li{
      display: block;

      a{
        font-family: $Lato;
        font-size: 14px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-decoration: none;
        z-index: 2;
        cursor: pointer;

        &:hover{
          color: $color_scheme;
        }
      }
      .submenu {
        position: relative;
        width: 100%;;
        z-index: 1000;
        background-color: #283136;
        padding: 10px 0;


        li{
          display: block;
          text-align: left;
          padding: 5px 25px;

          &:before{
            display: none;
          }
          a{
            color: rgb(147, 155, 160);
            font-family: $Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            padding: 5px 0;
            text-transform: none;
            border-bottom:1px solid rgba(255, 255, 255, 0.1);

            &:hover{
              color: $color_scheme;
            }
          }
        }
      }
    }

    li.open{
      a{
        color: $color_scheme;
      }
    }
  }
  #menu-toggle{
    display: none;
  }


  #menu li,
  #menu li a {
    display: block;
    line-height: 1;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #menu ul {
    display: none;
  }

  #menu > li > a {
    padding: 15px 0;
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
  }

  #menu li.last .submit-mobile{
    display: block;
    width: 275px;
    height: 50px;
    line-height: 20px;
    background-color: $color_scheme;
    color: #ffffff;
    font-family: $Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 15px auto 0;
    @include transition(all .5s);

    &:hover{
      background-color: $active_color_scheme;
    }
  }

  #menu > li.last > a {
    padding: 15px 0;
    border-bottom:0;
  }

  #menu > li.open > a {
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
  }

  #menu ul li.has-sub > a:after {
    display: none;
  }

  /*Change toggle size by adjusting width & height*/
  .tb-menu-toggle {
    border: 0;
    position: relative;
    background: transparent;
    cursor: pointer;
  }

  /*Change toggle color here*/
  .tb-menu-toggle i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s;
  }
  .tb-menu-toggle i:nth-child(2) {
    top: 40%;
  }
  .tb-menu-toggle i:nth-child(3) {
    top: 80%;
  }

  /* Style the active toggle here */
  .tb-menu-toggle.tb-active-toggle i {  }

  /*Animation of the toggle*/
  .tb-menu-toggle.tb-animate-toggle i:first-child,
  .tb-menu-toggle.tb-animate-toggle i:nth-child(2){
    top: 40%;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  .tb-menu-toggle.tb-animate-toggle i:nth-child(3){
    top: 40%;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }

  //desktop menu

  &__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
    max-width: 950px;

    li{
      display: inline-block;
      position: relative;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      height: 60px;
      @include transition(all .5s);

      &:hover{
        background-color: rgba($color_scheme, 0.1);
        border-top: 3px solid $color_scheme;
        border-bottom: 3px solid $color_scheme;
      }

      &:hover .submenu {
        visibility: visible;
        opacity: 1;
      }

      &:before{
        content: '';
        position: absolute;
        top: 20px;
        right: 0;
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #586065;
      }
      &:last-child{

        &:before{
          display: none;
        }
      }
      a{
        display: block;
        color: #ffffff;
        font-family: $Lato;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 42px;
        line-height: 54px;
        cursor: pointer;
      }
      .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-width: 270px;
        margin-top: 3px;
        z-index: 1000;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        background-color: #353f45;
        padding: 10px 15px;
        border-top: 3px solid $color_scheme;

        li{
          display: block;
          text-align: left;
          height: auto;
          margin-bottom: 5px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);

          &:last-child{
            border-bottom: 1px solid transparent;
            margin-bottom: 0;

            &:hover {
              border-bottom: 1px solid transparent;
            }
          }

          &:hover{
            background-color: transparent;
            border-top: 3px solid transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            a{
              color: $color_scheme;
            }
          }

          &:before{
            display: none;
          }

          a{
            color: rgb(255, 255, 255);
            font-family: $Lato;
            font-size: 14px;
            font-weight: 300;
            line-height: 30px;
            text-transform: none;
            padding: 0;
            cursor: pointer;
          }
        }
      }
    }
  }

  .submit{
    float: right;
    margin-top: -60px;
    width: 170px;
    height: 60px;
    line-height: 60px;
    background-color: $active_color_scheme;
    color: #ffffff;
    font-family: $Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    @include transition(all .5s);

    &:hover{
      background-color: darken($active_color_scheme, 10%);
    }
  }

}

//slider__top

.slider__top{
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;

  .slide__item{
    width: 100%;
    max-width: 1920px;
    height: 740px;
    min-height: 70vh;
    background: url("../img/slide.jpg") 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .text__block{
      width: 100%;
      max-width: 470px;
      height: 163px;
      background-color: rgba(0, 0, 0, 0.6);
      margin: 132px 0;
      padding: 35px 40px;

      &-line{
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 83px;
        background-color: $color_scheme;
        margin-right: 20px;
      }
      &-content{
        display: inline-block;
        vertical-align: middle;
      }
      &-title{
        color: #ffffff;
        font-family: $Lato;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      &-descript{
        color: #ffffff;
        font-family: $Lato;
        font-size: 24px;
        font-weight: 300;
      }
    }

    .search__filter{
      width: 100%;
      max-width: 1170px;
      height: auto;

      .heading{
        display: block;
        width: 216px;
        height: 68px;
        line-height: 68px;
        background-color: #353f45;
        color: #ffffff;
        font-family: $Lato;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
      }

      .filter{
        width: 100%;
        max-width: 1170px;
        height: 216px;
        background-color: #f0f0f0;
        position: relative;
        z-index: 10;
        padding: 23px 30px;

        &__item{
          display: inline-block;
          vertical-align: top;
          width: 33%;
          padding: 0 8px 0 10px;

          &:first-child{
            padding: 0 15px 0 0;
          }
          &:last-child{
            padding: 0 0 0 18px;
          }
        }
        &__type{
          margin-bottom: 10px;

          &-title{
            color: #000000;
            font-family: $Lato;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 12px;
            display: inline-block;
            width: 202px;

            span{
              display: inline-block;
              font-family: $Lato;
              font-size: 16px;
              color: #808080;
              font-weight: 400;
            }
          }

          .select2-container {
            width: 100%!important;
            border-color: rgb(220, 220, 220)!important;
            margin-bottom: 15px;
          }
          .select2-container--default .select2-selection--single {
            border: 1px solid gainsboro !important;
            border-radius: 2px !important;
            outline: none !important;
          }
          .select2-container .select2-selection--single {
            height: 38px;
          }
          .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
          }
          .select2-container .select2-selection--single .select2-selection__rendered {
            display: block;
            padding-left: 13px;
            padding-right: 38px;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
            width: 36px;
            background-color: $color_scheme;
          }
          .select2-chosen{
            padding: 7px 12px!important;
            color: rgb(95, 113, 133);
            font-family: $Lato;
            font-size: 14px;
            font-weight: 400;
          }
          .select2-container-active.select2-dropdown-open{
            border-color: rgb(220, 220, 220)!important;
            box-shadow: 0!important;
          }
          .select2-results,
          .select2-result-label {
            font-family: "Pragmatica", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #5f7185;
            line-height: 18px;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow b {
            display: block;
            width: 100% !important;
            height: 100% !important;
            position: relative;
            border-color: transparent !important;
            border-style: solid;
            border-width: 0 !important;
            top: 0 !important;
            left: 0 !important;
            margin-left: 0 !important;
            margin-top: 0 !important;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
            content: '';
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            width: 16px;
            height: 16px;
            background: url("../img/angle-arrow-down.png");
          }
          .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
            content: '';
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            width: 16px;
            height: 16px;
            background: url("../img/angle-arrow-up.png");
          }
          .type{
            margin-bottom: 15px;
          }


          .irs-slider {
            top: 31px;
            width: 14px;
            height: 14px;
            border: 1px solid #e7e4e4;
            background: rgb(255, 255, 255);
            background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 100%);
            border-radius: 16px;
            -moz-border-radius: 16px;
            box-shadow: 0 1px 1px rgba(1, 2, 1, 0.05);
            cursor: pointer;

            &:before{
              content: '';
              display: block;
              position: absolute;
              top: 2px;
              left: 2px;
              width: 8px;
              height: 8px;
              border-radius: 10px;
              background-color: #f26c1c;
            }
          }
          .irs-line {
            height: 10px;
            top: 33px;
            background: rgb(255, 255, 255);
            background: linear-gradient(to bottom, rgb(255, 255, 255) -50%, rgb(255, 255, 255) 150%);
            border: 1px solid #CCC;
            border-radius: 16px;
            -moz-border-radius: 16px;
          }
          .irs-bar {
            height: 10px;
            top: 33px;
            border-top: 1px solid $color_scheme;
            border-bottom: 1px solid $color_scheme;
            background: $color_scheme;
            background: linear-gradient(to top, $color_scheme 0%, $color_scheme 100%);
          }
          .irs-min, .irs-max {
            text-shadow: none;
            top: auto;
            bottom: -10px;
            padding: 1px 5px;
            background: transparent;
            border-radius: 0;
            color: #808080;
            font-family: $Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
          .sl-wrap {
            margin-top: -25px;
          }
          .price {
            display: inline-block;
          }
          .min-price{
            display: inline-block;
            width: 65px;
            height: 22px;
            line-height: 22px;
            border: 1px solid #e7e4e4;
            background-color: #ffffff;
            color: #808080;
            font-family: $Lato;
            font-size: 12px;
            font-weight: 400;
            padding: 0 5px;
            margin-right: 10px;
          }
          .max-price{
            display: inline-block;
            width: 65px;
            height: 22px;
            line-height: 22px;
            border: 1px solid #e7e4e4;
            background-color: #ffffff;
            color: #808080;
            font-family: $Lato;
            font-size: 12px;
            font-weight: 400;
            padding: 0 5px;
          }
        }

        &__type-mini{
          margin-bottom: 10px;
          width: 46%;
          display: inline-block;
          vertical-align: top;
          margin-right: 20px;

          &:last-child{
            margin-right: 0;
          }

          &-title{
            color: #000000;
            font-family: $Lato;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 15px;
            display: inline-block;
            width: 150px;
          }

          .select2-container {
            width: 100%!important;
            border-color: rgb(220, 220, 220)!important;
            margin-bottom: 15px;
          }
          .select2-container--default .select2-selection--single {
            border: 1px solid gainsboro !important;
            border-radius: 2px !important;
            outline: none !important;
          }
          .select2-container .select2-selection--single {
            height: 38px;
          }
          .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
          }
          .select2-container .select2-selection--single .select2-selection__rendered {
            display: block;
            padding-left: 15px;
            padding-right: 38px;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
            width: 36px;
            background-color: $color_scheme;
          }
          .select2-chosen{
            padding: 7px 12px!important;
            color: rgb(95, 113, 133);
            font-family: $Lato;
            font-size: 14px;
            font-weight: 400;
          }
          .select2-container-active.select2-dropdown-open{
            border-color: rgb(220, 220, 220)!important;
            box-shadow: 0!important;
          }
          .select2-results,
          .select2-result-label {
            font-family: "Pragmatica", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #5f7185;
            line-height: 18px;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow b {
            display: block;
            width: 100% !important;
            height: 100% !important;
            position: relative;
            border-color: transparent !important;
            border-style: solid;
            border-width: 0 !important;
            top: 0 !important;
            left: 0 !important;
            margin-left: 0 !important;
            margin-top: 0 !important;
          }
          .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
            content: '';
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            width: 16px;
            height: 16px;
            background: url("../img/angle-arrow-down.png");
          }
          .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
            content: '';
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            width: 16px;
            height: 16px;
            background: url("../img/angle-arrow-up.png");
          }
          .type{
            margin-bottom: 15px;
          }
        }
      }

    }
    .people{
      position: absolute;
      right: 123px;
      bottom: 0;
      z-index: 0;
    }

  }

}


//selec2-custom

.select2-search {
  display: none!important;
}

.select2-dropdown {
  border: 1px solid gainsboro !important;
  border-radius: 0!important;
  border-top: 0!important;
  background-color: #fcfcfc!important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent!important;
  color: $color_scheme!important;
  font-family: $Lato;
  font-size: 14px;
  font-weight: 400;
  padding: 11px 15px!important;
}
.select2-results__option {
  display: block!important;
  color: #808080!important;
  font-family: $Lato;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #f1efef;
  padding: 11px 15px!important;

  &:last-child{
    border-bottom: 0;
  }
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  display: none!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #808080!important;
  font-family: $Lato;
  font-size: 14px;
  font-weight: 400;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent!important;
}
