<header class="header">
    <div class="header__top-line">
        <div class="container">
            <div class="header__social"></div>
            <div class="header__working"></div>
            <div class="header__language"></div>
            <div class="header__currency"></div>
            <div class="header__login"></div>
        </div>
    </div>
    <div class="header__base">
        <div class="container">
            <div class="header__logo"></div>
            <div class="header__call"></div>
            <div class="header__mail"></div>
            <div class="header__visit"></div>
        </div>
    </div>
    <menu class="header__menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Properties</a></li>
        <li><a href="#">Agents</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">IDX</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Submit Object</a></li>
    </menu>
</header>